.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex:1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
    /* height: ; */
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title{
    font-weight: 400;
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
}

.a-techStack{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px 50px;
}

.a-h3{
    margin-bottom: 20px;
}

.a-img-tech{
    width: 60px;
    height: 60px;
    margin: 0px 15px;
}

.a-img-express{
    width: 100px;
    height: 60px;
}

@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height: 100%;
    }
    
    .a-left{
        width: 100%;
    }

    .a-card{
        height: 30vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-techStack{
        flex-direction: row;
        margin-top: 20px;
        width: 75%;
        justify-content: center;
        align-items: center;

    }

    .a-right{
        padding: 20px;
    }
}